PORT=3000
NODE_ENV=development
SERVICE_NAME=central-promos-enginee
MONGO_URL=mongodb://localhost:27017/central-promos-enginee
MERCADOLIBRE_API_BASE_URL=http://localhost:3001
MERCADOLIBRE_API_TIMEOUT=10000
MERCADOLIBRE_API_TOKEN=
PRICE_API_BASE_URL=http://localhost:3002
PRICE_API_TIMEOUT=10000
PRICE_API_TOKEN=
SYNC_PROMOTIONS_CRON=0 */30 * * * *
ACTIVATE_PROMOTIONS_CRON=0 */15 * * * *
DEACTIVATE_PROMOTIONS_CRON=0 */20 * * * *
DEFAULT_MIN_PROFITABILITY=0.12
DEFAULT_MIN_PROFIT=0
