PORT=3000

NODE_ENV=development
SERVICE_NAME=central-promos-enginee

MONGO_URL=mongodb://localhost:27017/central-promos-enginee

MERCADOLIBRE_API_BASE_URL=https://api.meli.loquieroaca.com
MERCADOLIBRE_API_TIMEOUT=10000
MERCADOLIBRE_API_TOKEN=

PRICE_API_BASE_URL=https://api.price.loquieroaca.com
PRICE_API_TIMEOUT=10000
PRICE_API_TOKEN=

CAMPAIGN_MLA_API_BASE_URL=https://api.madre.loquieroaca.com
CAMPAIGN_MLA_API_TIMEOUT=10000
CAMPAIGN_MLA_API_TOKEN=

SYNC_PROMOTION_TYPES=PRE_NEGOTIATED,DEAL,SMART

SYNC_PROMOTIONS_CRON=0 */30 * * * *
ACTIVATE_PROMOTIONS_CRON=0 */15 * * * *
DEACTIVATE_PROMOTIONS_CRON=0 */20 * * * *

DEFAULT_MIN_PROFITABILITY=0.12
DEFAULT_MIN_PROFIT=0
